@model Appet.Models.Pet
@{
    ViewBag.Title = "Zmień imię pupila";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Html.ActionLink("⇦", "PetDetails", "Home", routeValues: new { id = Model.id }, htmlAttributes: new { @style = "font-weight:bold;" }) Zmień nazwę pupila</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        @Html.HiddenFor(model => model.img)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zmień" class="btn btn-primary btn-md" />
            </div>
        </div>
    </div>
}
